body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("background.jpg");
}

.player {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    }

.song-info {
    margin-bottom: 20px;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.song-info img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.controls button {
    background: #028115;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background: #065602;
}
